<form method="post" action="{{ path('app_auther_delete', {'id': auther.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auther.id) }}">
    <button class="btn">Delete</button>
</form>
